@import "oban";

.popbox(@backgroundColor: rgba(0, 0, 0, 0.8), @textColor: #fff) {
  .popbox {
    background: @backgroundColor;
    color: #fff;
    border-radius: 4px;
    padding: 17px;

    &.left {
      .oban-arrow-right(@backgroundColor);
    }

    &.up, &.left-up, &.right-up {
      .oban-arrow-bottom(@backgroundColor);
    }

    &.right {
      .oban-arrow-left(@backgroundColor);
    }

    &.down {
      .oban-arrow-top(@backgroundColor);
    }

    .title {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }
}
